body{
  overflow-x: hidden;
}
h1{
  font-size: 44px;
  color: hsl(271, 36%, 24%);
  font-family:  'Rubik', sans-serif;
  font-weight: 500;
}
h4{
  color: hsl(276, 100%, 90%);
  font-size: 0.7rem;
  position: absolute;
  left: 70px;
  top: 20px;
  font-family:  'Rubik', sans-serif;
}
p{
  font-size: 9px;
  font-family:  'Rubik', sans-serif;

}

.header-text{
  font-family:  'Rubik', sans-serif;
  font-size: 0.5rem;
  color: hsl(276, 100%, 81%);
  position: absolute;
  top: 40px;
  left: 70px;
  width: 100px;

}
.main-box{
  background-color: white;
  padding:0px;
  margin: 0px;
  position: relative;
  z-index: -1;
}
.purple-curve{
  background-image:linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  width: 400px;
  height: 50rem;
  border-radius: 0rem 0rem 400px 400px;
  margin-left:0px;
  padding-right: 50px;
  padding-left: 0px;
  position: absolute;
  left: -130px;
  z-index: 0;
  top: -200px;
}
.light-curve{
  background-color: hsl(270, 20%, 96%);
  width: 20%;
  height: 40rem;
  border-radius:  900px 900px 0rem 0rem ;
  margin-left:0px;
  padding-left: 200px;
  position: absolute;
  right: -200px;
  z-index: 0;
  bottom:-710px;
}
.content{
  width: 28rem;
  z-index: 1;
  position: absolute;
  right: 14.5%;
   top:200px;
   text-align: left;
}
.para{
  font-size: 16px;
  color:  hsl(270, 7%, 64%);
  font-family:  'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: inherit;
  line-height: 1.5rem;;
}
.phone-out{
  background-color: hsl(270, 20%, 96%);
  position: absolute;
  z-index: 1;
  width: 14rem;
  height: 31.7rem;
  border-radius: 23px;
  border-width: 10px;;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  top: 70px;
  left: 18%;
    box-shadow: 0.5px 0.5px 40px 2px hsl(0, 0%, 75%);
}
.phone-in{
  background-color: hsl(270, 20%, 96%);
  height: 26rem;
  border-radius: 10px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;

}
.header{
background-image:linear-gradient(to left,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
margin:0px;
height: 4.5rem;
position: absolute;
top: 0px;
width: 14rem;
border-radius: 15px 15px 7px 7px;
}
.avatar{
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  border-color: white;
  width: 1.7rem;
  position: absolute;
  left: 30px;
  top: 30px;
}
.arrow{
color: hsl(276, 100%, 90%);
position: absolute;
top: 39px;
left: 10px;
font-size: 1rem;
}
.menu{
  color:  hsl(276, 100%, 90%);
  position: absolute;
  right: 14px;
  top: 39px;
  font-size: 0.7rem;
}
.nodge{
  position: absolute;
  z-index: 1;
  background-color: white;
  left: 22%;
  top: -10px;
  height: 1.8rem;
  width: 8rem;
  border-radius: 100px 90px 100px 90px;
}
.chat-1{
  position: absolute;
  top: 80px;
  left: 10px;
  height: 2.5rem;
  width: 9.5rem;
  background-color: hsl(276, 90%, 95%);
  border-radius: 10px 15px 15px 8px;
}
.c1{margin-left: 10px;
  color: hsl(276, 55%, 52%)
}
.chat-2{
  position: absolute;
  top: 50px;
  left: 3px;
  height: 2.5rem;
  width: 9.5rem;
  background-color: hsl(276, 90%, 95%);
  border-radius: 10px 15px 15px 8px;
}
.c2{
  margin-left: 10px;
    color: hsl(276, 55%, 52%)
}
.img-holder{
  position: absolute;
  top: 40px;
  left: 95px;
  padding: 2px;
  z-index: 1
  display:inline-block;
  width: 10rem;
  margin-top: 5px;
}
.img{
  width: 2rem;
  border-radius: 8px;
}
.chat-3{
  height: 2.5rem;
  width: 9.5rem;
  background-color: white;
  border-radius: 15px 10px 8px 15px;
  position: absolute;
  top: 90px;
  left: 50px;
  box-shadow: 0.5px 0.5px 10px 1px hsl(0, 0%, 85%);
}
.c3{
  margin-left: 10px;
    color: hsl(271, 15%, 43%);
}
.chat-4{
  height: 2rem;
  width: 5.5rem;
  background-color: white;
  border-radius: 15px 10px 8px 15px;
  position: absolute;
  top: 50px;
  right:  2px;
  box-shadow: 0.5px 0.5px 10px 1px hsl(0, 0%, 85%);
}
.c4{
  margin-left: 10px;
    color: hsl(271, 15%, 43%);
}
.chat-5{
  position: absolute;
  top: 95px;
  right: 50px;
  height: 3rem;
  width: 9.5rem;
  background-color: hsl(276, 90%, 95%);
  border-radius: 10px 15px 15px 8px;
}
.c5{
  text-align: inherit;
  width: 8rem;
  margin-left: 10px;
    color: hsl(276, 55%, 52%)
}
.chat-6{
  background-image:linear-gradient(to right,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  position: absolute;
  top: 150px;
  right: 50px;
  height: 2rem;
  width: 9.5rem;
  border-radius: 10px 10px 10px 8px;
}
.circle{
  color: hsl(276, 100%, 81%);
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 3px;
  position: absolute;
  top: 5px;
}
.c6{
  display:inline-block;
  margin-right: 20px;
  position: absolute;
  left: 30px;
  color:hsl(276, 100%, 81%)
}
.dollar{
  display: inline-block;
  font-size: 0.8rem;
  color:white;
  font-weight: bolder;
  position: absolute;
  right: 10px;
  bottom: -4px;
}
.chat-7{
  background-image:linear-gradient(to right,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  position: absolute;
  top: 40px;
  right: 0px;
  height: 2rem;
  width: 9.5rem;
  border-radius: 10px 10px 10px 8px;
}
.c7{
  display:inline-block;
  margin-right: 20px;
  position: absolute;
  left: 30px;
  color:hsl(276, 100%, 81%)
}
.msg{
  position: absolute;
  top: 240px;
  background-color: white;
  width: 12.5rem;
  height: 2rem;
  left: -50px;
border-radius: 100px 90px 100px 90px;
}
.placeholder{
  display: inline-block;
  color: hsl(206, 6%, 79%);
  margin-top: 5px
  padding:10px;
  margin-left: 20px;
  margin-right: 80px;
  position: absolute;
  top: 3px;
}
.forward{
  display: inline-block;
  font-size: 1.7rem;
  position: absolute;
  top: 1px;
  right: 4px;
  color: hsl(271, 36%, 24%)
}
